
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-content">
    <img src="~/Resources/Images/about/mustache-brothers.jpg" />
    <div class="about-content-right">
        <h6>HISTORY</h6>
        <h2>About Us.</h2>
        <hr />
        <p>
            On the 4th of July 1994, a 27 year old Melbourne barber decided to open up his own auto-themed barber shop, inspired by the love of his Melbourne town and all things motoring, the business began. We have built a loyal following amongst Melbourne's most discerning clientele. The shop's classic and automotive theme creates an atmosphere that reflects the passions of the proprietor. It's located in one of Melbourne's most beautiful heritage areas dating back to the 1850s. In 2019 we were presented with a 25 year commendation for service to our wonderful city by our Lord Mayor Sally Capp. The Lord Mayor’s Commendations acknowledge and celebrate the long-term commitment of independent small business proprietors.
        </p>
    </div>
</div>

<br /><br /><br /><br />

