
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-content">

    <h1>THE BENEFITS OF A STRAIGHT RAZOR SHAVE FOR MEN</h1>

    <div class="about-content">
        <img src="~/Resources/Images/blog/cutting-mustache.jpg" />
        <div class="about-content-right">
            <p>
                Standing in front of the mirror to have a quick shave with a plastic Bic razor was almost going to be something we look back to remember.
                <br /><br />
                Before it was improved upon to new vibe as we see daily at the barbershop. Of those who now take pride in straight razor shave and feel like a total nerd. More to it is what we will tell you in this post.
            </p>
        </div>
    </div>

    <h1>BARBER SHOPS IN PHILLY ARE REVAMPED</h1>

    <div class="about-content">
        <img src="~/Resources/Images/blog/in-the-country.jpg" />
        <div class="about-content-right">
            <p>
                Time was when the average guy needed to get a clean shave or a nice haircut and had to choose between two then-obvious, available options. It is either he opts to book an appointment in one of the unisex salons in town or flip a coin and take his chances at some grandfatherly barbershop. More often than not, both options, even in parallel Philadelphia universe, does not end so well. But now, that is not just a thing of the past, but an oddity seemingly abhorred by too-many-to-mention haircut salons in Philadelphia. At least, these loopholes are no longer there for the guys looking to get quality mens’ haircuts in Philly.
            </p>
        </div>
    </div>

    <h1>HOW TO CHOOSE A HAIR PRODUCT</h1>

    <div class="about-content">
        <img src="~/Resources/Images/blog/mustache-brothers.jpg" />
        <div class="about-content-right">
            <p>
                If you find yourself staring at the hair product shelf at your local drug store wondering what the difference is between a forming cream and styling gel, we can help.
                <br /><br />
                With the wide variety of hair products being offered by many different brands, it’s impossible to say that if you buy a specific type of hair product you will get a specific type of finish and hold every time.
                <br /><br />
                The key is to not look at the type of hair product (gel, pomade, cream, etc.) but the characteristics of the product (hold, finish, etc.)
            </p>
        </div>
    </div>

    <br /><br /><br /><br />

</div>

