
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-flex-imgs">
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache1.jpg" />
    </div>
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache2.jpg" />
    </div>
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache3.jpg" />
    </div>
</div>

<div class="content-flex-imgs">
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache4.jpg" />
    </div>
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache5.jpg" />
    </div>
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache6.jpg" />
    </div>
</div>

<div class="content-flex-imgs">
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache7.jpg" />
    </div>
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache8.jpg" />
    </div>
    <div class="flex-img">
        <img src="~/Resources/Images/gallery/mustache9.jpg" />
    </div>
</div>